
.header{
	.menu_top{
		padding: 35px 0;
		position: absolute;
		z-index: 100;
		width: 100%;
		left: 0;
		min-height:95px;
		background: rgba(0,0,0,.45);
		&.active{
			transition:all .5s ease-out;
			height: 100%;
			width: 100%;
			position: fixed;
			z-index: 999;
			background: rgba(0,0,0,.9);
			.list_nav, .login{
				display: block;
			}
		}
		@media(max-width:1199px){
			padding: 25px 0;
		}
		.brand{
			@media(max-width:991px){
				display:block;
				float:left;
				width: 90%;
			}
			@media(max-width:550px){
				display:block;
				float:left;
				width: 80%;
			}
		}
		.logo{
			display:inline-block;
			.img_logo{
				width: 100%;
				@media(max-width:550px){
					width: 70%;
					margin-top: 10px;
				}
			}
		}

		.list_nav{
			display: inline-block;
			vertical-align: top;
			width: 70%;
			padding-top: 15px;
			@media(max-width:1199px){
				width: 75%;
			}
			@media(max-width:992px){
				display: none;
				padding-top: 15%;
				width: 100%;
				text-align: center;
			}
			li {
				padding: 0 12px;
				@media(max-width:991px){
					float: none;
				}
				a{
					color: #fefefe;
					font-size: 15px;
					font-weight: 400;
					text-transform: uppercase;
					position: relative;
					padding: 0 5px;
					display: inline-block;
					transition:all ease-out .5s;
					&:hover{
						
					}
					@media(max-width:1199px){
						font-size: 12px;
						line-height: 22px;
						padding-bottom: 10px;
						margin-bottom: 15px;
					}
					@media(max-width:991px){
						font-size: 18px;
						line-height: 22px;
					}
					&.active{
						&:after{
							content:'';
							position: absolute;
						}
						&:after{
							width: 100%;
							height: 4px;
							left: 0;
							bottom: 0;
							background-color: #fff;
						}
					}

				}
			}
		}
		.login{
			display: inline-block;
			width: 28%;
			vertical-align: top;
			padding-top: 15px;
			@media(max-width:1199px){
				width: 22%;
			}
			@media(max-width:992px){
				display: none;
				padding-top: 20px;
				vertical-align: middle;
				width: 100%;
				text-align: center;
			}
			a{
				color: #fefefe;
				font-size: 15px;
				font-weight: 400;
				text-transform: uppercase;
				margin-left: 20px;
				.fa{
					display: inline-block;
					padding-right: 10px;
					font-size: 20px;
					@media(max-width:1199px){
						font-size: 18px;
						padding-right: 5px;
					}
					@media(max-width:991px){
						font-size: 20px;
					}
				}
				@media(max-width:1199px){
					font-size: 12px;
					line-height: 22px;
				}
				@media(max-width:991px){
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}


	.slider_top{
		.slide{
			.slide-img{
				width: 100%;
				min-height: 779px;
				@media(max-width:1199px){
					width: auto;
				}
			}
			.wrap_container{
				position: absolute;
				width: 50%;
				height: 250px;
				left: 35%;
				top: 50%;
				z-index: 100;
				@media(max-width:1199px){
					left: 20%;
				}
				@media(max-width:991px){
					left: 50%;
					margin-left: -25%;
					text-align: center;
				}
				@media(max-width:450px){
					width: 90%;
					left:5%;
					margin-left: 0; 
				}
				h1{
					color: white;
					font-size: 55px;
					font-weight: 900;
					text-transform: uppercase;
					@media(max-width:991px){
						font-size: 45px;
					}
					@media(max-width:650px){
						font-size: 35px;
					}
				}
				.btn{
					color: white;
					font-size: 16px;
					font-weight: 400;
					text-transform: uppercase;
					display: inline-block;
					border:2px solid #fff;
					padding: 12px 50px;
					@media(max-width:650px){
						padding: 10px 40px;
					}
				}
			}
		}
		.slick-dots{
			position: absolute;
			bottom:5%;
			left: 50%;
			width: 160px;
			margin-left: -80px;
			text-align: center;
			li{
				display: inline-block;
				width: 30px;
				height: 8px;
				opacity: .8;
				margin-right: 5px;
				background: #847164;

			}
			.slick-active{
				background:#d32f2f;
			}
		}
	}
}





