.why_us{
	.our_advantages{
		margin: 60px 0;
		.item{
			text-align: center;
			position: relative;
			@media(max-width:991px){
				margin-bottom: 50px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.img_wrap{
				width: 156px;
				height: 156px;
				display: inline-block;
				border-radius:156px;
				border:2px solid #2a2a2a;
				margin-bottom: 40px;
				position: relative;
				.circle{
					position: absolute;
					width: 185px;
					height: 185px;
					top: -17px;
					left: -17px;
					z-index: 0;
				}
				img{
					position: absolute;
					z-index: 999;
					height: 60px;
					width: 60px;
					top: 50%;
					margin-top: -30px;
					left: 50%;
					margin-left: -30px;
				}
			}
			h4{
				color: #2a2a2a;
				font-size: 24px;
				font-weight: 700;
				line-height: 26px;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.info{
				color: rgba(42, 42, 42, 0.85);
				font-size: 16px;
				font-weight: 300;
				line-height: 22px;
			}
		}
	}
	.request{
		.block{
			float:left;
			p{
				color: #2a2a2a;
				font-size: 16px;
				line-height: 16px;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-weight: 400;
				padding-left: 40px;
				position: relative;
				&:last-child{
					margin-bottom: 25px;
				}
				span{
					font-weight: 700;
				}
			}
		}
		.block_1{
			width: 35%;
			position: relative;
			margin-top: 40px;
			&:after, &:before{
				position: absolute;
				content:'';
				background:#2a2a2a; 
			}
			&:before{
				width: 1px;
				height: 105px;
				left: 0;
				top: -30px;
			}
			&:after{
				width: 410px;
				height: 1px;
				left: 0;
				top: -30px;
			}
		}
		.block_2{
			width: 35%;
			position: relative;
		}
		.block_3{
			width: 25%;
			position: relative;
			margin-top: 40px;
		}
		.btn_wrap{
			text-align: center;
			.button{
				margin-top: 225px;
				display: inline-block;
			}
		}
	}
}

